<h2>Oooo, A New Bottle Of Bourbon!!!</h2>
<form action="/distillers/new" method="GET">
    <%- include('../partials/_add_form') %>
</form>
<br><br><br>
<body>
    <div id="container1">
        <form action="" id="formHeader">
            <fieldset id="fset">
                <strong><%= bourbon %></strong>
            </fieldset>
        </form>
    </div>
</body>