<html>
    <body>
        <h2>Update the collection here...</h2>
        <form method="post" action="/distillers/update/id?_method=PATCH"></form>
        <form method="post" action="/distillers/update/id?_method=PATCH" id="form">
            <div class="container1">
                <label for="id" id="label">ID</label>
                <input type="text" name="id" id="input">
            </div>
            <div class="container1">
                <label for="name" id="label">Name</label>
                <input type="text" name="name" id="input">
            </div>
            <div class="container1">
                <label for="brand" id="label">Brand</label>
                <input type="text" name="brand" id="input">
            </div>
            <div class="container1">
                <label for="distiller" id="label">Distillery</label>
                <input type="text" name="distiller" id="input">
            </div>
            <div class="container1">
                <label for="age" id="label">Age</label>
                <input type="text" name="age" id="input">
            </div>
            <div class="container1">
                <label for="proof" id="label">Proof</label>
                <input type="text" name="proof" id="input">
            </div>
            <div class="container1">
                <label for="alcVol" id="label">AlclVol</label>
                <input type="text" name="alcVol" id="input">
            </div>
            <div class="container1">
                <label for="type" id="label">Type</label>
                <input type="text" name="type" id="input">
            </div class="container1">
            <div class="container1">
                <label for="size" id="label">Size</label>
                <input type="text" name="size" id="input">
            </div>
            <div class="container1">
                <label for="distWebsite" id="label">Website</label>
                <input type="text" name="distWebsite" id="input">
            </div>
            <div class="container1">
                <a href="/">Cancel</a>
                <input type="submit" value="Update Bourbon" id="bColor">
            </div>
        </form>
        <%= bourbon %> 
    </body>