<html>
    <body>
        <form action="/distillers/new" method="post"></form>
        <form action="/distillers/new" method="post" id="form">
            <fieldset id="fset">
                <legend id="fset">Add to collection here...</legend>
                <div class="container1">
                    <label for="name" id="label">Name</label>
                    <input type="text" name="name" class="input">
                </div>
                <div class="container1">
                    <label for="brand" id="label">Brand</label>
                    <input type="text" name="brand" class="input">
                </div>
                <div class="container1">
                    <label for="distiller" id="label">Distillery</label>
                    <input type="text" name="distiller" class="input">
                </div>
                <div class="container1">
                    <label for="age" id="label">Age</label>
                    <input type="text" name="age" class="input">
                </div>
                <div class="container1">
                    <label for="proof" id="label">Proof</label>
                    <input type="text" name="proof" class="input">
                </div>
                <div class="container1">
                    <label for="alcVol" id="label">AlclVol</label>
                    <input type="text" name="alcVol" class="input">
                </div>
                <div class="container1">
                    <label for="type" id="label">Type</label>
                    <input type="text" name="type" class="input">
                </div>
                <div class="container1">
                    <label for="size" id="label">Size</label>
                    <input type="text" name="size" class="input">
                </div>
                <div class="container1">
                    <label for="distWebsite" id="label">Website</label>
                    <input type="text" name="distWebsite" class="input">
                </div>
                <div class="container1">
                    <a href="/" id="caution">Cancel</a>
                    <input type="submit" value="Add New Bourbon" id="bColor">
                </div>
            </fieldset>
        </form>
    </body>
</html>