<h2>Search Entire Database</h2>
<body>
    <form>
        <!--button type="submit" formaction='/distillers'>View All</button-->
        <a href="/distillers/view">Vew Entire Database</a>
    </form>
</body>