<html>
    <header id="formHeader">
        <header id="mainHeader">
            <div class="container">
                <h1>Owen's Beautiful Bourbon Collection</h1>
            </div>
        </header>
        <nav id="container">
            <a href="/" id="fset">Bourbon Collection</a>
            <ul>
                <li><a href="/distillers/view" id="fset">All Bourbon</a></li>
                <li><a href="/distillers/new" id="fset">Add Bourbon</a></li>
            </ul>
        </nav>
    </header>
</html>