
<form action="/logout?_method=DELETE" method="POST" id="form">
    <a href="/credentials/register" id="fset">Register</a>
    <a href="/credentials/login" id="fset">Login</a>
    <button type="submit" id="bColor">Log Out</button>
</form>
<body>
    <div class="mainPaige">
        <img src="../img/Stand1.jpg" alt="" class="pic">
        <img src="../img/DoubleShelf.jpg" alt="" class="pic">
        <img src="../img/Stand2.jpg" alt="" class="pic">
    </div>
</body> 